<table 
    mat-table 
    [dataSource]="dataSource" 
    matSort 
    (matSortChange)="tableService.sortData($event)"
    <% if (attrVisible) { %>[style.visibility]="<%= attrVisible %>"<% } %>
    <% if (attrTooltip) { %>[matTooltip]="<%= attrTooltip %>"<% } %>
>
    
    <%- content %>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [formGroup]="mg.getFormGroupByRow(row.rowId)"
        [ngClass]="{ 'selected': selection.isSelected(row)}"
        (click)="tableService.selectRow(row.rowId)">
    </tr>
</table>

<mat-paginator 
    [pageSize]="10" 
    [pageSizeOptions]="[5, 10, 20]" 
    (page)="tableService.mgOnPaginateChange($event)"
    <% if (attrVisible) { %>[style.visibility]="<%= attrVisible %>"<% } %>
>
</mat-paginator>
